#abcontent {
  width:900px;
  height: calc(100vh - 175px);
  margin: auto;
}

#abtitle h1 {
  text-align: center;
  font-size: 3rem;
  padding: 55px;
}

#abcards {
  display: flex;
  justify-content: space-between;
}

#abexp {
  padding-left:12px;
  p {
    font-size: 2rem;
    text-align: left;
    line-height: 150%;
  }
}

.abitem {
  display: flex;
  flex-direction: column;
  align-items: center;
  height:360px;
  background: $backcards;
  margin: 20px;
  padding: 10px;
  box-shadow: 2px 2px 2px 1px rgba(165, 165, 165, 0.1);
}

.abitem:hover {
  box-shadow: 0 4px 8px 0 rgba(165, 165, 165, 0.3);
  transition: all .7s linear;
}

.abitem img {
  width:200px;
  height: 200px;
}


.abitem h2 {
  font-size: 2.5rem;
  font-weight: 400;
  margin: 15px 5px 40px 5px;
  text-align:center;
  color: $blue;
}

.ablinks {
  display: flex;
  justify-content: center;
  .fa {
    font-size: 2.5rem !important;
    margin-left: 0.6rem;
  }
  .fa:hover {
    color: $blue;
    transition: all .5s linear;
  }
}

@media screen and (max-width:1000px) {
  #abcards {
    flex-direction: column;
    align-items: center;
  }

  #abcontent {
    width: 100%;
    height: calc(100vh - 80px);
  }
}