#about-us h1 {
    margin-top: 0;
    padding: 75px;
    font-size: 3rem;
    text-align: center;
  }

.abitem {
  position:relative;
  width:250px;
  margin:20px auto;
  cursor:pointer;
  overflow:hidden;
  display: flex;
  color: $lightblue;
  box-shadow: 2px 2px 2px 1px rgba(165, 165, 165, 0.1);
}

.abitem img {
  width:250px;
  height: 250px;
}

.abitem .abinfo {
  width:250px;
  height:100%;
  background:rgba(0, 0, 0, 0.8);
  position:absolute;
  top:0px;
  top:-400px;
  opacity:0;
  transition:top .3s linear, opacity .3s linear;
  -webkit-transition:top .3s linear, opacity .3s linear;
}

.abitem:hover .abinfo {
  top:0px;
  opacity:1;
  transition:top .3s linear, opacity .3s linear;
  -webkit-transition:top .3s linear, opacity .3s linear;
}

.abitem h2 {
  font-size: 3rem;
  margin:0;
  padding:30px 0px 5px 0px;
  text-align:center;
  color: $lightblue;
}

.abitem p {
  padding: 0px 18px;
  text-align: center;
  color: $lightblue;
}

.abitem .btn-primary {
  width: 150px;
  height: auto;
  display: inline-block;
  text-decoration: none;
  padding: 5px;
  margin-left: 20%;
  margin-top:65px;
  transition: background .2s linear;
  -webkit-transition: background .2s linear;
  opacity: 0.9;
}

.abitem .btn-primary:hover {
  opacity: 1;
  transition: background .2s linear;
}