.pdf {
  #showmapframepdf {
    color: #555;
    background: #FAFAFA;
    box-shadow: 2px 2px 2px 1px rgba(165, 165, 165, 0.1);
  }
  #showstreetframepdf {
  vertical-align: center;
  color: #555;
  background: #FAFAFA;
  box-shadow: 2px 2px 2px 1px rgba(165, 165, 165, 0.1);
  }
  #showcontentpdf {
  display: flex;
  justify-content: space-between;
  margin: auto 20px;
  background: white;
  page-break-inside: avoid;
  }
  #scframepdf {
  background: $backcards;
  margin: 10px 30px;
  box-shadow: 2px 2px 2px 1px rgba(165, 165, 165, 0.1);
  }
}
// }
// #showcontent {
//   display: flex;
//   height: calc(100vh - 130px);
//   justify-content: space-between;
//   margin: 30px 80px;
//   background: $lightblue;
// }

// #showleft {
//   width: 300px;
// }

// #showcard {
//   flex-grow: 1;
// }

// #showright {
//   width: 400px;
//   }

// .buttons-next-action{
//   padding: 20px;
//   margin: 0px, 20px;
// }

// #showmapframe {
//   height: 515px;
//   color: #555;
//   background: #FAFAFA;
//   margin: 10px;
//   box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
// }

// #showstreetframe {
//   height: 564px;
//   color: #555;
//   background: #FAFAFA;
//   margin: 10px;
//   box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
// }

// #showstreetcontent {
//   display: flex;
//   justify-content: center;
// }

// #linksframe {
//   color: #555;
//   background: $backcards;
//   margin: 10px;
//   box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
// }

// #linkscontent {
//   padding: 10px 25px;
//     h3 {
//     margin-bottom: 12px;
//   }
// }

// #linkstitle {
//   border-bottom: 1px solid #EEE;
//   margin: 10px 0;
// }
