.indexcontent {
  display: flex;
  height: calc(100vh - 70px);
  justify-content: space-between;
  margin: 30px 80px;
  background: $lightblue;
}

.map-controls {
  position: absolute;
  top: 10px;
  left: 112px;
  background: white;
  border-radius: 3px;
  z-index: 20;

  label {
    font-size: 17px;
  }

  input {
    opacity: 1 !important;
    position: relative !important;
  }
}

.indexcards {
  width: 25%;
}

.indexmap {
  width: 75%;
  box-shadow: none;
}

#mapcaption {
  padding: 10px;
  background: white;
  margin-bottom: 30px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}


#caption {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  p {
    margin-bottom: 0;
    margin-right:1rem;
  }
}

.captionbarpop {
  width: 100px;
  height: 16px;
  margin-right: 4rem;
  background: linear-gradient(to right, #7fdb9b, #349151);
}
.captionbarcomp {
  width: 100px;
  height: 16px;
  margin-right: 4rem;
  background: linear-gradient(to right, #f9909b, #c63b49);
}
.captionbardeal {
  width: 100px;
  height: 16px;
  margin-right: 4rem;
  background: linear-gradient(to right, #d26e38, #d3a039);
}



#setting-current {
  width: 100%;
}

