#showcontent {
  display: flex;
  min-height: calc(100vh - 130px);
  justify-content: space-between;
  margin: 30px 80px;
  background: $lightblue;
}

#showleft {
  width: 300px;
  display: flex;
  flex-direction: column;
}

#showcard {
  flex-grow: 1;
  margin: 10px 20px;
  background: $backcards;
  box-shadow: 2px 2px 2px 1px rgba(165, 165, 165, 0.1);
}

#showright {
  width: 400px;
  display: flex;
  flex-direction: column;
  }
  
.buttons-next-action{
  padding: 20px;
  margin: 0px, 20px;
}

#showmapframe {
  flex-grow: 1;
  color: #555;
  background: #FAFAFA;
  margin: 10px;
  box-shadow: 2px 2px 2px 1px rgba(165, 165, 165, 0.1);
}

#showstreetframe {
  flex-grow: 1;
  color: #555;
  background: #FAFAFA;
  margin: 10px;
  box-shadow: 2px 2px 2px 1px rgba(165, 165, 165, 0.1);
}

#showstreetcontent {
  display: flex;
  justify-content: center;
}

#linksframe {
  color: #555;
  background: $backcards;
  margin: 10px;
  box-shadow: 2px 2px 2px 1px rgba(165, 165, 165, 0.1);
}

#linkscontent {
  padding: 10px 25px;
    h3 {
    margin-bottom: 12px;
  }
}

#linkstitle {
  border-bottom: 1px solid #EEE;
  margin: 10px 0;
}

@media screen and (max-width:1000px)
{
  #showcontent {
    flex-direction: column;
    margin: 5px;
    height: unset !important;
      }

  #shomapframe {
    flex-grow: unset !important;
  }

  #showleft, #showcard, #showright {
    width: 100%;
    margin: 0;
  }

  #showstreetframe, #showmapframe {
    height: 500px;
  }

  
  #linksframe {
    order: 2;
  }

  #showstreetframe {
    order: 1;
  }
  }