#showcontent {
  display: flex;
  height: calc(100vh - 70px);
  justify-content: space-between;
  margin: 10px 30px;
}

#showleft {
  width: 400px;
}

#showcard {
  width: 50%;
}

#showright {
  flex-grow: 1;
}
.buttons-next-action{
  padding: 20px;
  margin: 0px, 20px;
}

#showmapframe {
  color: #555;
  background: #FAFAFA;
  margin: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}

#showmapcontent {
  background: #F9F9F9;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}