.buttons-next-action{
  padding: 20px;
  margin: 0px, 20px;
}

#showtop {
  height: calc(100vh - 70px);
  display: flex;
}

#showsearch {
 width: 15%;
}

#showcard {
  width: 50%;
}

#showmapframe {
  color: #555;
  background: #FAFAFA;
  margin: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
  height: calc(100vh - 70vh);
}

#showmapcontent {
  background: #F9F9F9;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}