<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.png", height: 50 %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>
      <!-- Links when logged in -->
      <%= link_to destroy_user_session_path, method: :delete do %>
        <i class="fa fa-sign-out" style="color:#307A94"></i>  <%= t(".sign_out", default: "Log out") %>
      <% end %>
    <% end %>
  </div>
</div>
