<%= render 'shared/navbar' %>
<div id="about-us">
  <div class="container">
  <h1>About us</h1>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="exp">
          <div class="exp-photo">
            <%= image_tag("https://avatars0.githubusercontent.com/u/32262781?s=460&v=4", style: 'width:100%;height:auto;border-radius:3px;' )%>
          </div>
          <div class="card-description">
            <h4><b>Christophe Gachet</b></h4>
            <p>Description</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="exp">
          <div class="exp-photo">
            <%= image_tag("https://avatars1.githubusercontent.com/u/31513010?s=400&v=4", style: 'height:100%;width:auto;') %>
          </div>
          <div class="card-description">
            <h4><b>Mattia Lamouroux</b></h4>
            <p>Description</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="exp">
          <div class="exp-photo">
            <%= image_tag("https://avatars1.githubusercontent.com/u/31669955?s=400&u=ad40104ec6c67eed593bf86ee20494d33d47c8f0&v=4", style: 'height:100%;width:auto;') %>
          </div>
          <div class="card-description">
            <h4><b>Tiphanie Tourniaire</b></h4>
            <p>Description</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
