<%= render 'shared/navbar' %>
<div id="about-us">
  <div class="container">
  <h1>About us</h1>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="abitem">
          <%= image_tag("https://avatars0.githubusercontent.com/u/32262781?s=460&v=4", style: 'border-radius:3px;' )%>
          <div class="abinfo">
            <h2>Christophe Gachet</h2>
            <p>
              Description
            </p>
            <a href="#" class="btn btn-primary">Linkedin</a>     
          </div><!-- info -->
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="abitem">
          <%= image_tag("https://avatars1.githubusercontent.com/u/31513010?s=400&v=4", style: 'border-radius:3px;' )%>
          <div class="abinfo">
            <h2>Mattia Lamouroux</h2>
            <p>
              Description
            </p>
            <a href="#" class="btn btn-primary">Linkedin</a>     
          </div><!-- info -->
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="abitem">
          <%= image_tag("https://avatars1.githubusercontent.com/u/31669955?s=400&u=ad40104ec6c67eed593bf86ee20494d33d47c8f0&v=4", style: 'border-radius:3px;' )%>
          <div class="abinfo">
            <h2>Tiphanie Tourniaire</h2>
            <p>
              Description
            </p>
            <a href="#" class="btn btn-primary">Linkedin</a>     
          </div><!-- info -->
        </div>
      </div>
    </div>
  </div>
</div>
