.btn-primary {
  background-color: $blue !important;
  border-color: $blue !important;
}
#btn-show {
  width: 100%;
  margin-bottom: 15px;
  background: transparent !important;
  border: 1px solid $blue;
  color: $blue;
  border-radius: 5px;
}

#btn-show:hover {
  border: 1px solid $blue;
  color: white;
  background: $blue !important;
  border-radius: 5px;
}


#btn-sign-up {
  width: 240px;
  border: 1px solid #fafafa !important;
  border-radius: 50px;
  background-color: rgba(200,200,200,0.1) !important;
}

#btn-sign-up:hover {
  background-color: rgba(200,200,200,0.3) !important;
}

#btn-newaddress {
  width: 100%;
  margin-bottom: 15px;
  margin-right: 30px;
  background: transparent !important;
  border: 1px solid $blue;
  color: $blue;
  border-radius: 5px;
}

#btn-newaddress:hover {
  border: 1px solid $blue;
  color: white;
  background: $blue !important;
  border-radius: 5px;
}

.btn:hover, .btn-large:hover {
  background: $blue;
}