.btn-primary {
  background-color: $blue !important;
  border-color: $blue !important;
}
#btn-show {
    width: 100%;
    margin-bottom: 15px;
}

#btn-sign-up {
  width: 240px;
  border: 1px solid #fafafa !important;
  border-radius: 50px;
  background-color: rgba(200,200,200,0.1) !important;
}

#btn-sign-up:hover {
  background-color: rgba(200,200,200,0.3) !important;
}
