.footer {
  background: $backcards;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0px 50px;
  color: #555;
}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #555;
  text-decoration: none;
  margin: 0 10px;
}
.footer-links a:hover {
  opacity: $blue;
}
.footer .fa-heart {
  color: $blue;
}

.footer-copyright {
  text-align: right;
  margin-right: 10px;
}

@media screen and (max-width:1000px)
{
  .footer {
    font-size: 1.7rem;
    padding: 2px;
  }
  .footer-copyright {
    margin-left: 25px;
  }

  .footer-links a {
    font-size: 1.7rem;
    color: $blue;
    opacity: 1;
  }
}