#home-form {
  background: #F4F4F4;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(165, 165, 165, 0.1);
}

#home-form:hover {
  background: #FAFAFA;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: all .7s linear;
}

#homepage-form {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%
}

#container-form {
  margin: 20px;
  width: 250px;
}

.btn {
  background: $blue;
}

#btn-form-homepage {
  background: $blue !important;
  width: 100%;
}

#getstarted {
  text-align: center;
}

#form3, #form2, #form32, #form8 {
  font-size: 1.8rem;
  color: #999;
}

.control-label {
  font-size: 1rem;
}

.input-field {
  margin-bottom: 25px;
}

.input-field label {
  font-size: 1.8rem;
  font-weight: 500;
}

#query_address, #query_activity, #query_radius_search, #query_radius_catchment_area {
  font-size: 1.8rem;
}

textarea.materialize-textarea {
  font-size: 1.8rem !important;
}

input:focus + label {
  color: $blue !important;
}

input:focus {
  border-bottom: 1px solid $blue !important;
  box-shadow: 0 1px 0 0 $blue !important;
}

form abbr {
  text-decoration: none;
  border-bottom: 0 !important;
}

.select-wrapper {
  padding-bottom: 1px;
}

.select-wrapper input.select-dropdown {
  font-size: 1.8rem;
}

.select.required {
  font-size: 1.4rem;
}

.dropdown-content li > a, .dropdown-content li > span {
  color: $blue;
}

input.string.required, .numeric.integer.required, .select-wrapper.select.required {
  margin-top: 5px;
}

.select-wrapper span.caret {
  margin-top: 5px;
  text-decoration: none;    
  border-color: transparent !important;
}



//=========== SIGN IN

.btn.waves-effect.waves-light.waves-input-wrapper {
  margin: 30px 0;
}

.string-email-optional {
}

.form-actions a {
  color: $blue;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
  padding-top: 5px;
}

input[type=password]:not(.browser-default), input[type=email]:not(.browser-default) {
  font-size: 1.8rem;
}