.query-form {
  width: 300px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  background: #FAFAFA;
  margin-top: 50px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

.form-control-aaaa {
  border-bottom: 0;
}

.control-label {
  font-size: 17px;
  font-weight: lighter;
}

#new-query {
  padding: 20px;
}