.rcframe {
  height: 420px;
  color: #555;
  position: relative;
  background: #FAFAFA;
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}

.rccontent {
  position: absolute;
  line-height: 90%;
  width: 90%;
  height: 90%;
  h3 {
    font-size: 2rem;
    font-weight: bold;
    color: #555;
    margin-bottom: 12px;
  }
}

.rcresults {
}

.rctitle {
  line-height: 120%;
  border-bottom: 1px solid #555;
}


#rcpopgraph {
  margin-top: 20px;
  width: 150px;
  height: 70px;
  text-align: center;
    p {
    font-height: 300;
    color: #333;
  }
}

#rcpopgraphhead {
  display: flex;
  height: 20%;
  justify-content: space-between;
  text-align: center;
}

#rcpopgraphres {
  display: flex;
  margin-bottom: 5px;
  align-items: flex-end;
  height: 60%;
}

#rcpopgraphbot {
  display: flex;
  height: 20%;
  justify-content: space-between;
  text-align: center;
}

#rcpopgraphres1, #rcpopgraphres3 {
  width: 30%;
  background: #CCC;
}

#rcpopgraphres2 {
  width: 40%;
  background: #EEE;
}

#rcpopgraphhead1, #rcpopgraphhead3 {
  width: 30%;
}

#rcpopgraphhead2 {
  width: 40%;
}

#rclinks {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #FAFAFA;
  // border-top: 1px solid rgba(0,0,0,0.3);
  a {
    text-decoration: none;
    color: $blue;
    font-size: 2rem;
  }
}

.comp {
  left: 190px;
}