#scframe {
  background: $backcards;
  margin: 10px 30px;
}

#sccontent {
  position: relative;
  width: 100%;
  padding: 10px 25px;
  line-height: 140%;
  h3 {
    margin-bottom: 12px;
  }
}


#screstop, #scresbottom {
  display: flex;
}

#screstop {
  border-bottom: 1px solid #EEE;
}

#scresbottom {
  padding-top: 10px;
}

#scpopgraph {
  margin-top: 30px;
  width: 60%;
  height: 150px;
  text-align: center;
    p {
    font-size: 1.5rem;
    font-height: 500;
    color: #555;
  }
}

#sctitle {
  border-bottom: 1px solid #EEE;
  margin: 10px 0;
  position: relative;
}

#insee {
  font-weight: 300;
}

#scpopcatchment, #sccomp, #insee, #scpopcity {
  margin-bottom: 10px;
  width: 50%;
}

#linktopdf {
  position: absolute;
  right: 20px;
  top: 0px;
  // border-top: 1px solid rgba(0,0,0,0.3);
  a {
    font-size: 2.2rem;
    text-decoration: none;
    color: $blue;
    font-size: 1.8rem;
    font-weight: 500;
  }
}

#linktopdf:hover {
  a {
    font-size: 2.3rem;
    font-weight: 600;
  }
}

@media screen and (max-width:1000px)
{
  #scframe {
    margin: 10px;
      }

  #showcard {
    background: unset !important;
    webkit-box-shadow: unset !important;
    box-shadow: unset !important;
  }

  #screstop, #scresbottom {
    flex-direction: column;
  }
  #scpopcatchment {
    order: 1;
    width: 100%;
  }
  #scpopcity {
    order: 2;
    width: 100%;

  }

  #sccomp {
    order: 3;
    width: 100%;

  }

  #insee {
    order: 4;
    width: 100%;
  }

}