#scframe {
  background: $backcards;
  margin: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}

#sccontent {
  width: 100%;
  height: calc(100vh - 100px);
  padding: 10px;
  line-height: 120%;
  h3 {
    margin-bottom: 12px;
  }
}

#scresults {
  margin-top: 10px;
  display: flex
}

#scresleft, #scresright {
  width: 50%;
  margin: 0 40px;
}

#scpopgraph {
  margin-top: 30px;
  margin-bottom: 40px;
  width: 70%;
  height: 100px;
  text-align: center;
    p {
    font-size: 1.5rem;
    font-height: 500;
    color: #555;
  }
}

#sctitle {
  border-bottom: 1px solid #EEE;
  margin: 10px 0;
}

#insee {
  font-weight: 300;
}

#scpopcatchment, #sccomp, #scpopcity, #insee {
  margin-bottom: 40px;
}