.w-auto {
    width: auto;
}

.tabsmaller {
  font-size: 1.5rem;
}

td {
  border-bottom: 1px solid rgba(165,165,165,0.1);
  padding: 5px !important;
  text-align: center;
}

th {
  font-size: 1.8rem;
  font-weight: 600;
  color: $blue;
  text-align: center !important;
}

th .fa {
  font-size: 2.2rem;
  margin-right: 0rem;
  font-weight: 600;
  color: $blue;
  text-align: center !important;
}

.tablecontainer {
  width: 1300px;
  background:#FDFDFD; 
  line-height:200%;
  margin: auto;
  margin-top: 20px;
}

.tabletitle {
  padding: 20px;
  padding-bottom: 10px;
  position: relative;
}

.tableback {
  position: absolute;
  top: 27px;
  left: 37px;
}

.tablecontent {
  padding: 20px;
}

thead {
  line-height: 140%;
}

tbody {
  th {
    padding: 0 10px;
  }
}

.table-hover > tbody > tr:hover {
  background-color: $lightblue !important;
}
