<%= render 'shared/banner' %>

  <div class="container">
    <div class="myflex">
      <div class="mygrow">
        <p>ShopSpot helps you to find the best place for your activity</p>
        <p>Indicate your reference zone and w</p>
      </div>
      <div class="homepageform">
        <%= render 'form', query: @query %>
      </div>
    </div>
  </div>
