// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";


// External libraries

@import "materialize-custom";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "config/colors";



// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";

@import "bootstrap";

.form-content {
  width: 80%;
  height: 80%;
  margin: auto;
  background-color: white;
}

body {
  background: $lightblue;
  font-size: 1.8rem;
}

.rctitle i {
  cursor: pointer;
}

p, td {
  font-size: 1.8rem;
  font-weight: 400;
}

td {
  border-bottom: 1px solid rgba(165,165,165,0.1)
}

th {
  font-size: 1.8rem;
  font-weight: 600;
  color: $blue;
  text-align: center;
}

a {
  font-size: 1.8rem;
}

h2, h1 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #555;
}

h3 {
  font-size: 1.8rem;
  font-weight: 500;
  color: #555;
}

.fa {
  color: #CCC;
  font-size: 2.1rem;
  margin-right: 0.6rem;
}

.myflex {
  display:flex;
  justify-content: space-between;
}

.mygrow {
  flex-grow: 1;
}

